* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

img {
    width: 600px;
    height: auto;
}

a, a:visited {
    background-color: #023E8A;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu {
    background-color: #0077B6;
    color: white;
    padding: 1rem;
    width: 70%;
}

#menu a {
    background-color: transparent;
    color: white;
    border-left: 1rem solid #023E8A;
    padding-left: 0.25rem;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#desc {
    background-color: #0096C7;
}

#ingredients {
    background-color: #00B4D8;
}

#steps {
    background-color: #0077B6;
    color: white;
}

#ref {
    background-color: #023E8A;
    color: white;
}

.optional {
    background-color: #333;
    color: white;
}

.steps-subhdr {
    background-color: #0096C7;
}

.ret {
    background-color: antiquewhite;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    margin: 0;
    color: #fff;
}

.or-logo {
    font-family: 'Courier New', Courier, monospace;
    color: #03045E;
    font-weight: bold;
}

.or-logo::after {
    content: "_";
}